<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{{title}}{% endblock title %}</title>
  <link rel="stylesheet" href="/static/rusty.css">
  {% block css %}{% endblock css %}
</head>
<body>
  {% include "partials/_navbar.html.tera" %}

  <main id="app">
    {% block content %}{% endblock content %}
  </main>

  <script type="module" src="/static/global.js"></script>
  {% block js %}{% endblock js %}
</body>
</html>

