<!DOCTYPE html>
<html lang="en">

<head>
    {% block head_seo %}
      {% include "partials/_seo.html.tera" %}    
    {% endblock head_seo %}
    <meta name="robots" content="all, index, follow">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{title}}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/simba.css">
    {% block css %}{% endblock css %}
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">Rooots</a>
            <ul class="nav-links">  
                <li><a href="/about">About</a></li>
                <li><a href="https://github.com/rustaroots/roots/wiki">Docs</a></li>
                <li><a href="https://github.com/rustaroots/roots/discussions">Blog</a></li>
                <li><a href="mailto:seidogitan@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="app">
      {% block content %}{% endblock content %}
   </main>

  {% block scripts %}{% endblock scripts %}
</body>

</html>

